@use 'styles/utils';

.portfolio-slider {
    &__title {
        margin-bottom: 30px;
        padding-left: 156px;

        &-wrapper {
            margin-bottom: 50px;
            padding-left: 412px;
        }
    }

    &__subtitle::first-letter {
        padding-left: 156px;
    }

    &__container {
        position: relative;
    }

    &__link {
        margin-top: 32px;
        width: 395px;
    }
}

@media only screen and (max-width: 1000px) {
    .portfolio-slider {
        padding-right: 0;

        .container {
            padding-right: 0;
        }

        &__title {
            margin-bottom: 12px;
            padding: 0 20px 0 0;

            &-wrapper {
                margin-bottom: 28px;
                padding: 0;
            }
        }

        &__subtitle:first-letter {
            padding: 0;
        }

        &__link {
            margin-top: 18px;
            margin-right: 20px;
            width: fit-content;
            min-width: 320px;
        }
    }
}
