@use 'styles/utils';

.thx-popup {
    &__inner {
        padding: 54px;
        width: 100%;
        max-width: 723px;
        height: 600px;
        display: flex;
        flex-direction: column;
        background-color: var(--accent_100);
        border-radius: 20px;
    }

    &__title {
        margin-bottom: 34px;
        font: 5.4rem/1.1 var(--mozer);
        letter-spacing: -0.01rem;
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: 24px;
        font: 1.6rem/1.14 var(--roboto-regular);
    }

    &__button {
        margin-top: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .thx-popup {
        &__inner {
            padding: 16px;
            height: fit-content;
        }

        &__title {
            margin-bottom: 22px;
            font-size: 2.8rem;
        }

        &__text {
            margin-bottom: 18px;
            font-size: 1.4rem;
        }
    }
}
