@use 'styles/utils';

.breadcrumbs {
    gap: 8px;
    display: flex;

    &__item {
        gap: 8px;
        display: flex;
        align-items: center;
        font-family: var(--roboto-light);
        font-size: 1.4rem;
        line-height: 142%;

        &::after {
            content: '/';
        }

        &:not(:first-child) {
            opacity: 0.5;
        }

        &:last-child {
            &:after {
                content: none;
            }
        }
    }

    &:has(+ .page__title) {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 1000px) {
    .breadcrumbs {
        &__item {
            font-size: 1.3rem;
        }

        &:has(+ .page__title) {
            margin-bottom: 16px;
        }
    }
}
