include layout/utils

-
    var list = [
        {
            title: 'ОФОРМЛЕНИЕ И ЗАСТРОЙКА. ИЗГОТОВЛЕНИЕ ДЕКОРАЦИЙ',
            description: 'Оформление и застройка для деловых мероприятий - это создание декораций, которые подчеркивают тему и цель мероприятия, а также создают уютную и комфортную атмосферу для гостей и участников.',
            image: require('assets/content/events/1.jpg'),
            min: '5 дней',
            className: 'accent_100'
        },
        {
            title: 'ОФОРМЛЕНИЕ КОНФЕРЕНЦИЙ / ФОРУМОВ',
            description: 'Организация конференции — это ответственный шаг в бизнес-сфере, требующий внимательного подхода к каждой детали. Эффективное оформление конференций играет ключевую роль в создании уютной и продуктивной атмосферы.',
            image: require('assets/content/events/2.jpg'),
            min: '7 дней',
            className: 'dark'
        },
        {
            title: 'ДЕЛОВЫЕ МЕРОПРИЯТИЯ',
            description: 'Деловые мероприятия направлены на достижение бизнес-целей и укрепление корпоративной культуры. Мы предлагаем услуги по оформлению декорациями деловых мероприятий различного формата: от корпоративных вечеринок и гала-ужинов до тренингов и семинаров. ',
            image: require('assets/content/events/3.png'),
            min: '6 дней',
            className: 'dark'
        },
        {
            title: 'ПРЕЗЕНТАЦИИ',
            description: 'Презентации для мероприятий - это способ визуально донести до аудитории цель, идею или результаты вашего проекта, продукта или услуги. Они помогают привлечь внимание, увеличить интерес и убедить потенциальных клиентов, партнеров или инвесторов.',
            image: require('assets/content/events/4.jpg'),
            min: '3 дней',
            className: 'accent_200'
        },
        {
            title: 'ОФОРМЛЕНИЕ СПОРТИВНЫХ МЕРОПРИЯТИЙ',
            description: 'Не секрет, что успешное спортивное мероприятие – это не только отличные результаты участников, но и незабываемая атмосфера, которая окружает каждое мгновение. Компания Дивекс предлагает оформление спортивных мероприятий, которое подчеркнет яркие победы участников и создаст запоминающийся образ.',
            image: require('assets/content/events/5.jpg'),
            min: '10 дней',
            className: 'accent_100'
        },
    ]

+section.events
    h2.events__title.section__title Оформление мероприятий
    .events__content
        .events__subtitle.section__subtitle Мы создаём пространство для событий
        ul.events__list
            each item in list
                li: +anchor.events__item(class=item.className)
                    +img(item.image).events__item-image
                    .events__item-title= item.title
                    .events__item-info
                        .events__item-description= item.description
                        .events__item-min= item.min
                            span Минимальное время для подготовки
                    .events__item-arrow
                        +img(require('assets/icons/arrow.svg'))
        +anchor.button.button--accent_100.events__button Посмотреть все услуги
