@use 'styles/utils';

.input {
    padding: 16px 20px;
    width: 100%;
    color: var(--bg);
    font: 1.6rem/1.38 var(--roboto-regular);
    background-color: var(--base_100);
    border-radius: 34px;

    &::placeholder {
        color: #26292a;
    }

    &._invalid {
        border: 1px solid red;
    }
}
