@use 'styles/utils';

.input {
    padding: 16px 20px;
    width: 100%;
    color: var(--bg);
    font-family: var(--roboto-regular);
    font-size: 1.6rem;
    line-height: 138%;
    background-color: var(--base_100);
    border-radius: 34px;

    &::placeholder {
        color: #26292a;
    }

    &._invalid {
        border: 1px solid red;
    }
}
