@use 'styles/utils';

.slider-navigation {
    position: absolute;
    @include utils.circle(54px);
    z-index: 1;
    top: 50%;
    right: 0;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343636;
    border: 4px solid black;
    transition: all 300ms linear;

    &.swiper-button-disabled {
        opacity: 0;
        visibility: hidden;
        transition: all 300ms linear;
    }

    &::after {
        content: '';
        @include utils.square(24px);
        @include utils.bg-defaults(cover);
        filter: var(--filter-base_100);
        background-image: url('assets/icons/arrow.svg');
    }

    &._prev {
        left: 0;
        rotate: 180deg;
    }
}

@media only screen and (max-width: 1000px) {
    .slider-navigation {
        display: none;
    }
}
