include layout/utils

.cookie
    .cookie__title Мы используем файлы cookie
    .cookie__text!= 'Этот сайт использует файлы cookie, чтобы обеспечить корректную работу, анализировать трафик и улучшать удобство использования. Продолжая пользоваться сайтом, вы соглашаетесь с нашей <a href="#">Политикой конфиденциальности</a>.'
    button.cookie__button.button.button--accent_100 Хорошо
