@use 'styles/utils';

.portfolio-slider {
    &__title {
        margin-bottom: 30px;
        padding-left: 156px;

        &-wrapper {
            margin-bottom: 50px;
            padding-left: 412px;
        }
    }

    &__subtitle::first-letter {
        padding-left: 156px;
    }

    &__container {
        position: relative;
    }

    &__navigation {
        position: absolute;
        @include utils.circle(54px);
        z-index: 1;
        top: 50%;
        right: 0;
        transform: translateX(50%);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #343636;
        border: 4px solid black;
        transition: all 300ms linear;

        &.swiper-button-disabled {
            opacity: 0;
            visibility: hidden;
            transition: all 300ms linear;
        }

        &::after {
            content: '';
            @include utils.square(24px);
            @include utils.bg-defaults(cover);
            filter: var(--filter-base_100);
            background-image: url('assets/icons/arrow.svg');
        }

        &-prev {
            left: 0;
            rotate: 180deg;
        }
    }

    &__link {
        margin-top: 32px;
        width: 395px;
    }
}

@media only screen and (max-width: 1000px) {
    .portfolio-slider {
        padding-right: 0;

        .container {
            padding-right: 0;
        }

        &__title {
            margin-bottom: 12px;
            padding: 0 20px 0 0;

            &-wrapper {
                margin-bottom: 28px;
                padding: 0;
            }
        }

        &__subtitle:first-letter {
            padding: 0;
        }

        &__link {
            margin-top: 18px;
            margin-right: 20px;
            width: fit-content;
            min-width: 320px;
        }

        &__navigation {
            display: none;
        }
    }
}
