extends layout/page

block append head

block append main
    include components/main-hero/main-hero
    include components/clients/clients
    include components/form-block/form-block
    include components/events/events

block append scripts
