extends layout/page

block append head

block append main
    include components/main-hero/main-hero
    include components/decor/decor
    include components/events/events
    include components/about/about
    include components/advantages/advantages
    include components/clients/clients
    include components/form-block/form-block
    include components/seo/seo

block append scripts
