@use 'styles/utils';

.about {
    &.section {
        margin-top: 100px;

        .container {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    &__title {
        padding-left: 276px;

        &-wrapper {
            margin-bottom: 50px;
            padding-left: 276px;
        }
    }

    &__subtitle {
        margin-top: 30px;

        &::first-letter {
            padding-left: 276px;
        }
    }

    &__body {
        display: flex;
    }

    &__image {
        object-fit: cover;
        object-position: center;
        margin-right: 51px;
        width: 502px;
        height: 434px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        &-title {
            margin-bottom: 18px;
            font-family: var(--mozer);
            font-size: 3rem;
            line-height: 133%;
            text-transform: uppercase;

            &._mobile {
                display: none;
            }
        }

        &-content {
            gap: 18px;
            display: flex;
            font-family: var(--roboto-regular);
            font-size: 1.6rem;
            line-height: 137%;
            opacity: 0.9;
        }
    }

    &__button {
        margin-top: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .about {
        &.section {
            margin-top: 0;
        }

        .container {
            padding-top: 70px;
        }

        &__title {
            padding: 0;
            &-wrapper {
                margin-bottom: 28px;
                padding: 0;
            }
        }

        &__subtitle {
            margin-top: 12px;
            &:first-letter {
                padding: 0;
            }
        }

        &__body {
            flex-direction: column;
        }

        &__image {
            margin: 0 0 18px;
            height: 240px;
        }

        &__info {
            &-title {
                display: none;
                font-size: 3.2rem;
                line-height: 106%;

                &._mobile {
                    display: block;
                }
            }

            &-content {
                gap: 10px;
                flex-direction: column;
            }
        }

        &__button {
            margin-top: 18px;
        }
    }
}
