include layout/utils

+section.about.gradient
    .about__title-wrapper
        h2.about__title.section__title О компании
        .about__subtitle.section__subtitle Мы создаём техническое пространство, в котором ваш эфир, шоу или проект звучат профессионально и точно
    .about__body
        +img(require('assets/content/about-block.png')).about__image
        .about__info
            .about__info-title DIVEX — команда с более чем 16-летним опытом в сфере технического оснащения телевизионных студий, продакшн-компаний и событийных пространств.
            .about__info-content.content
                .about__info-column!= '<p>Мы проектируем и реализуем студийные пространства, поставляем профессиональное оборудование и создаём декорации для эфира, сцены и шоу. Нас выбирают, когда важно не просто «сделать», а решить задачу точно, в срок и под ключ.</p> <p>Мы проектируем и реализуем студийные пространства, поставляем профессиональное оборудование и создаём декорации для эфира, сцены и шоу. Нас выбирают, когда важно не просто «сделать», а решить задачу точно, в срок и под ключ.</p>'
                .about__info-column!= '<p>Мы проектируем и реализуем студийные пространства, поставляем профессиональное оборудование и создаём декорации для эфира, сцены и шоу. Нас выбирают, когда важно не просто «сделать», а решить задачу точно, в срок и под ключ.</p> <p>Мы проектируем и реализуем студийные пространства, поставляем профессиональное оборудование и создаём декорации для эфира, сцены и шоу. Нас выбирают, когда важно не просто «сделать», а решить задачу точно, в срок и под ключ.</p>'
            +anchor.about__button.button.button--accent_100 Узнать больше
