extends layout/page
include layout/utils
include ui/breadcrumbs/breadcrumbs
include components/detail-hero/detail-hero

block append head

block append main
    -
        var banner = {
            category: 'article',
            title: 'СТОЛ ДЛЯ ТЕЛЕВИЗИОННОЙ СТУДИИ',
            description: 'Стол в студию телевидения. В телевизионном павильоне, создающем новостной поток, стол – в центре событий. Все крутится вокруг него: камеры, свет, операторы, микрофоны, диктор. Даже модное ныне интерактивное направление, где ведущий стоит или расхаживает по подиуму – языку, не может обойтись хотя бы без маленького столика-пюпитра. Нетрудно догадаться, что требования, предъявляемые к этой центральной в оформлении студии конструкции, предъявляются жесткие.',
            image: require('assets/content/blog-detail.png'),
            date: '01.01.2025'
        }
    +detaiHero(banner)
    .container: +breadcrumbs(['Блог', 'СТОЛ ДЛЯ ТЕЛЕВИЗИОННОЙ СТУДИИ'])
    +section.content
        h2 Название кейса или статьи H2
        blockquote
            p “Главная задача — чтобы зритель поверил в происходящее в кадре. Мы создаём не просто декорации, а визуальный язык, который усиливает эмоции и помогает рассказать историю”
            figcaption
                +img(require('assets/content/figcaption.jpg'))
                p Имя Фамилия
                p Арт-директор студии оформления
        p В сотрудничестве с Star Project и другими партнерами было реализовано одно из самых ярких событий осени — презентация нового внедорожника GLS от Mercedes-Benz на Первой официальной вечеринке Формулы -1. Основная задача для нашей компании состояла в оформлении общего пространства: зоны VIP, гостевые зоны, подиум для презентации автомобиля, барные стойки, танцевальный партер, зоны ди-джеев и другие элементы декорирования основного зала.
        p Мерседес—компания производитель автомобилей премиум класса, автобусов и грузового автотранспорта, является одной из самых известных брендов на рынке. Формула - 1 - турнир под управлением FIA, проводится с 1950 года — высший класс гонок на автомобилях с открытыми колесами. Чемпионат проводится каждый год. Является одной из самых престижных гонок в мире и для многих гонщиков выступление на ней становится целью своей жизни. Последние несколько лет, команда Mercedes AMG Petronas Motorsport занимает первые места в премиальной гонке. На вечеринке, пилоты Льюис Хэмилтон, Валттери Боттас и Виталий Петров презентовали новый автодорожник, под треки ди-джеев Nazima, Крейга Дэвида и DJ Slava Gee гости веселились до самого утра.
        h3 Подзаголовок H3
        ol
            li Жирмунский, однако, настаивал, что синхрония доступна.
            li Анжамбеман семантически отражает хорей.
            li!= 'Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна. <a>лексико-семантический анализ</a> является психолингвистическим в своей основе, но графомания возможна.'
        h4 Подзаголовок H4
        ul
            li Жирмунский, однако, настаивал, что синхрония доступна.
            li Анжамбеман семантически отражает хорей.
            li!= 'Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна. <a>лексико-семантический анализ</a> является психолингвистическим в своей основе, но графомания возможна.'
        +img(require('assets/content/content1.png'))
        +img(require('assets/content/content2.png'))
        +img(require('assets/content/content3.png'))
        +img(require('assets/content/content2.png'))
    include ui/portfolio/slider/slider
    include components/form-block/form-block

block append scripts
