extends layout/page
include layout/utils
include ui/breadcrumbs/breadcrumbs
include ui/tabs/tabs
include ui/portfolio/list/list

block append head

block append main
    -
        var list = [
            {
                title: 'LATINO ЧАРТ',
                tag: 'Стол ведущего для телестудии',
                image: require('assets/content/portfolio/1.png'),
                description: 'Оформление телестудии Latino ЧАРТ для канала «Жара» трансляция которой идет в Интернет сети!',
                category: 'decor'
            },
            {
                title: 'ГРАНИЦЫ ПОЗНАНИЯ',
                tag: 'Декорации для телевидения',
                image: require('assets/content/portfolio/2.png'),
                description: 'Музыкальный телеканал ЖАРА - это развлекательное телевидение нового поколения. Амбициозный канал для современного поколения. В программе Latino ЧАРТ транслируются самые топовые хиты Латинской Америки.',
                category: 'decor'
            },
            {
                title: 'БОРОДИНА ПРОТИВ БУЗОВОЙ.  ДОМ 2',
                tag: 'Задник для ТВ программы',
                image: require('assets/content/portfolio/3.png'),
                description: 'Для работы над оформлением студии для авторского научного шоу «Границы познания», которое вышло на наиболее популярном видеосервисе Okko, были привлечены лучшие специалисты нашей компании.',
                category: 'decor'
            },
            {
                title: 'ИНФОРМАЦИОННАЯ СТУДИЯ',
                tag: 'Декорации для телестудии',
                image: require('assets/content/portfolio/4.png'),
                description: 'Компания Дивэкс изготовила декорации для нового шоу, в рамках проекта Дом 2 на ТНТ - Бородина против Бузовой.',
                category: 'decor'
            },
            {
                title: 'БОРОДИНА ПРОТИВ БУЗОВОЙ.  ДОМ 2',
                tag: 'Задник для ТВ программы',
                image: require('assets/content/portfolio/3.png'),
                description: 'Для работы над оформлением студии для авторского научного шоу «Границы познания», которое вышло на наиболее популярном видеосервисе Okko, были привлечены лучшие специалисты нашей компании.',
                category: 'decor'
            },
            {
                title: 'ИНФОРМАЦИОННАЯ СТУДИЯ',
                tag: 'Декорации для телестудии',
                image: require('assets/content/portfolio/4.png'),
                description: 'Компания Дивэкс изготовила декорации для нового шоу, в рамках проекта Дом 2 на ТНТ - Бородина против Бузовой.',
                category: 'decor'
            },
            {
                title: 'LATINO ЧАРТ',
                tag: 'Стол ведущего для телестудии',
                image: require('assets/content/portfolio/1.png'),
                description: 'Оформление телестудии Latino ЧАРТ для канала «Жара» трансляция которой идет в Интернет сети!',
                category: 'decor'
            },
            {
                title: 'ГРАНИЦЫ ПОЗНАНИЯ',
                tag: 'Декорации для телевидения',
                image: require('assets/content/portfolio/2.png'),
                description: 'Музыкальный телеканал ЖАРА - это развлекательное телевидение нового поколения. Амбициозный канал для современного поколения. В программе Latino ЧАРТ транслируются самые топовые хиты Латинской Америки.',
                category: 'decor'
            },
            {
                title: 'БОРОДИНА ПРОТИВ БУЗОВОЙ.  ДОМ 2',
                tag: 'Задник для ТВ программы',
                image: require('assets/content/portfolio/3.png'),
                description: 'Для работы над оформлением студии для авторского научного шоу «Границы познания», которое вышло на наиболее популярном видеосервисе Okko, были привлечены лучшие специалисты нашей компании.',
                category: 'decor'
            },
            {
                title: 'ИНФОРМАЦИОННАЯ СТУДИЯ',
                tag: 'Декорации для телестудии',
                image: require('assets/content/portfolio/4.png'),
                description: 'Компания Дивэкс изготовила декорации для нового шоу, в рамках проекта Дом 2 на ТНТ - Бородина против Бузовой.',
                category: 'decor'
            },
            {
                title: 'БОРОДИНА ПРОТИВ БУЗОВОЙ.  ДОМ 2',
                tag: 'Задник для ТВ программы',
                image: require('assets/content/portfolio/3.png'),
                description: 'Для работы над оформлением студии для авторского научного шоу «Границы познания», которое вышло на наиболее популярном видеосервисе Okko, были привлечены лучшие специалисты нашей компании.',
                category: 'decor'
            },
            {
                title: 'ИНФОРМАЦИОННАЯ СТУДИЯ',
                tag: 'Декорации для телестудии',
                image: require('assets/content/portfolio/4.png'),
                description: 'Компания Дивэкс изготовила декорации для нового шоу, в рамках проекта Дом 2 на ТНТ - Бородина против Бузовой.',
                category: 'decor'
            },
            {
                title: 'БОРОДИНА ПРОТИВ БУЗОВОЙ.  ДОМ 2',
                tag: 'Задник для ТВ программы',
                image: require('assets/content/portfolio/3.png'),
                description: 'Для работы над оформлением студии для авторского научного шоу «Границы познания», которое вышло на наиболее популярном видеосервисе Okko, были привлечены лучшие специалисты нашей компании.',
                category: 'decor'
            },
            {
                title: 'ИНФОРМАЦИОННАЯ СТУДИЯ',
                tag: 'Декорации для телестудии',
                image: require('assets/content/portfolio/4.png'),
                description: 'Компания Дивэкс изготовила декорации для нового шоу, в рамках проекта Дом 2 на ТНТ - Бородина против Бузовой.',
                category: 'decor'
            },
            {
                title: 'БОРОДИНА ПРОТИВ БУЗОВОЙ.  ДОМ 2',
                tag: 'Задник для ТВ программы',
                image: require('assets/content/portfolio/3.png'),
                description: 'Для работы над оформлением студии для авторского научного шоу «Границы познания», которое вышло на наиболее популярном видеосервисе Okko, были привлечены лучшие специалисты нашей компании.',
                category: 'decor'
            },
            {
                title: 'ИНФОРМАЦИОННАЯ СТУДИЯ',
                tag: 'Декорации для телестудии',
                image: require('assets/content/portfolio/4.png'),
                description: 'Компания Дивэкс изготовила декорации для нового шоу, в рамках проекта Дом 2 на ТНТ - Бородина против Бузовой.',
                category: 'decor'
            }

        ]
    +section.portfolio
        +breadcrumbs(['Реализованные проекты', 'ТВ декорации'])
        .page__title Реализованные проекты
        +tabs([{name: 'Все'}, {name: 'ТВ декорации', active: true},{name: 'Оформление мероприятий'}])
        +portfolioList(list)
        include ../../ui/_pagination/_pagination
    include components/form-block/form-block

block append scripts
