include layout/utils
include ui/breadcrumbs/breadcrumbs

+breadcrumbs(['Декорации для ТВ'])
.service-content__title-wrapper
    h2.service-content__title.section__title Полный цикл декораций
    .service-content__subtitle.section__subtitle Создаём выразительные и технологичные декорации, которые усиливают атмосферу любого телеэфира
.service-content__body
    +img(require('assets/content/service-content.png')).service-content__image
    .content
        blockquote
            p “Главная задача — чтобы зритель поверил в происходящее в кадре. Мы создаём не просто декорации, а визуальный язык, который усиливает эмоции и помогает рассказать историю”
            figcaption
                +img(require('assets/content/figcaption.jpg'))
                p Имя Фамилия
                p Арт-директор студии оформления
        div
            p От инфографики до сложных инсталляций — мы разрабатываем и реализуем декорации для телепроектов любого масштаба. Работаем в плотной связке с режиссёрами, художниками и продюсерами, чтобы достичь точного визуального образа. Учитываем технические требования площадки, особенности съёмки и светового сценария. Всё под ключ — от идеи до монтажа.
            p От инфографики до сложных инсталляций — мы разрабатываем и реализуем декорации для телепроектов любого масштаба. Работаем в плотной связке с режиссёрами, художниками и продюсерами, чтобы достичь точного визуального образа. Учитываем технические требования площадки, особенности съёмки и светового сценария. Всё под ключ — от идеи до монтажа.
        h3 Подзаголовок H3
        ol
            li Жирмунский, однако, настаивал, что синхрония доступна.
            li Анжамбеман семантически отражает хорей.
            li!= 'Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна. <a>лексико-семантический анализ</a> является психолингвистическим в своей основе, но графомания возможна.'
        h4 Подзаголовок H4
        ul
            li Жирмунский, однако, настаивал, что синхрония доступна.
            li Анжамбеман семантически отражает хорей.
            li!= 'Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна. <a>лексико-семантический анализ</a> является психолингвистическим в своей основе, но графомания возможна.'
