include layout/utils
include ui/selector/selector

.pagination
    .pagination__arrow._prev
    .pagination__numbers
        .pagination__item 1
        .pagination__item 2
        .pagination__item 3
        .pagination__item ...
        .pagination__item 7
    .pagination__arrow._next
