@use 'styles/utils';

.pagination {
    display: flex;

    &__arrow,
    &__item {
        @include utils.square(54px);
        display: flex;
        justify-content: center;
        align-items: center;
        font: var(--text-base_100);
        cursor: pointer;
        background-color: hsl(180, 3%, 21%);
        border-radius: 4px;
    }

    &__item._active {
        background-color: var(--accent_100);
    }

    &__numbers {
        gap: 8px;
        display: flex;
    }

    &__arrow {
        margin: 0 16px 0 0;
        &::after {
            content: '';
            @include utils.bg-defaults(cover);
            filter: var(--filter-base_100);
            background-image: url('assets/icons/short-arrow.svg');
            @include utils.square(20px);
            rotate: 90deg;
        }
    }

    &__arrow._next {
        margin: 0 0 0 16px;

        &::after {
            rotate: -90deg;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .pagination {
        &__arrow,
        &__item {
            @include utils.square(42px);
        }

        &__arrow {
            margin: 0 7px 0 0;
        }

        &__arrow._next {
            margin: 0 0 0 7px;
        }

        &__numbers {
            gap: 3px;
        }
    }
}
