@use 'styles/utils';

html {
    scroll-behavior: smooth;
    overflow-x: clip;
    font-size: 62.5%;
}

.container {
    margin: 0 auto;
    padding: 0 94px 0 190px;
    width: 100%;

    @media screen and (max-width: 1000px) {
        padding: 0 20px;
    }
}

.section {
    margin: 160px 0;

    &:first-child {
        margin-top: var(--header-height);
        padding-top: 40px;
    }

    &:has(+ .gradient),
    &:has(+ .gradient-reverse),
    &:has(+ .gradient-transparent),
    &:has(+ .gradient-double) {
        margin-bottom: 0;
    }

    &.gradient,
    &.gradient-reverse,
    &.gradient-transparent,
    &.gradient-double {
        margin-top: 0;
    }

    &.gradient {
        background: linear-gradient(#030404, #26292a);
    }

    &.gradient-reverse {
        background: linear-gradient(#26292a, #030404);
    }

    &.gradient-double {
        background: linear-gradient(#030404, #26292a, #030404);
    }

    &.gradient-transparent {
        position: relative;

        .container {
            position: relative;
            z-index: 3;
        }

        .section__bg {
            inset: 0;
            object-fit: cover;
            object-position: center;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            opacity: 0.3;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            z-index: 2;
            left: 0;
            width: 100%;
            height: 50%;
            display: block;
        }

        &::before {
            top: 0;
            background: linear-gradient(#030404, transparent);
        }

        &::after {
            bottom: 0;
            background: linear-gradient(transparent, #030404);
        }
    }

    &__title {
        gap: 8px;
        display: flex;
        align-items: center;
        color: var(--base_150);
        font: var(--text-base_100);
        font-family: var(--roboto-medium);
        font-size: 1.4rem;

        &::before {
            content: '';
            @include utils.circle(8px);
            background-color: var(--accent_100);
        }
    }

    &__subtitle {
        font: var(--header-base_200);
        letter-spacing: -0.01rem;
        text-transform: uppercase;
    }

    @media screen and (max-width: 1000px) {
        margin: 70px 0;

        &__title {
            font-size: 1.2rem;
        }

        &.gradient-transparent {
            & + .form-block {
                margin-top: 0;
            }
        }
    }
}

.page__title {
    font: var(--header-base_100);
    text-transform: uppercase;
}

.main-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    flex: 1 1 0;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
    visibility: hidden;
    transition: all 300ms linear;
}

body {
    overflow-x: clip;
    color: var(--base_100);
    background-color: var(--bg);
}

html.disable-scroll {
    overflow: clip;

    body {
        overflow: clip;
    }
}

.swiper,
.swiper-wrapper,
.swiper-slide {
    box-sizing: border-box !important;
}

.page__controls {
    margin-top: 28px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.page__sort {
    display: flex;
    align-items: center;
    font: var(--text-base_100);
}

@media only screen and (max-width: 1000px) {
    .page__sort span {
        display: none;
    }
    .page__controls {
        align-items: end;
    }
}

.container:has(.breadcrums) {
    margin-top: 40px;
}
